@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
 
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
 
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
 
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
 
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
 
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
 
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
 
    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 0 0% 98%;
 
    --ring: 240 10% 3.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
 
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
 
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
 
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
 
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
 
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
 
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
 
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
 
    --ring: 240 4.9% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* YRS: Hieronder staan CSS styling voor icons die gebruikt worden */
@layer components {
  .icon {
    @apply inline-flex align-middle justify-center; /* Existing flex and alignment styles */
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
    color: var(--primary-foreground); /* Adjust color as needed */
    font-size: 1.25rem; /* Adjust size as needed */
    margin-right: 0.5rem; /* Default space between icon and text */
    vertical-align: middle; /* Vertically aligns inline or inline-block elements */
  }

  .icon-large {
    @apply .icon;
    font-size: 2rem; /* Larger size */
  }

  .icon-primary {
    @apply .icon;
    color: var(--primary); /* Use primary color */
  }

  .icon-secondary {
    @apply .icon;
    color: var(--secondary); /* Use secondary color */
  }

  /* Utility classes for individual margin adjustments */
  .icon-margin-right {
    margin-right: 0.5rem; /* Adjust right margin, can be overridden per use case */
  }

  .icon-margin-left {
    margin-left: 0.5rem; /* Adjust left margin */
  }

  .icon-margin-top {
    margin-top: 0.5rem; /* Adjust top margin */
  }

  .icon-margin-bottom {
    margin-bottom: 0.5rem; /* Adjust bottom margin */
  }

  /* Utility class for bottom alignment */
  .icon-align-bottom {
    vertical-align: bottom; /* Align the bottom of the icon with the text baseline */
  }

  /* More specific or responsive utility classes can be added here */
}

/* YRS: SELECT DROPDOWN  */
  /* New class for left-aligning text inside Select.Value */
  .select-value-text-left {
    @apply text-left; /* Aligns text to the left */
  }

  /* YRS: Styling voor font color van de placeholder select value form component */
  .select-placeholder::placeholder {
    color: #FFFF00; /* Replace with the color you want */
  }

  /* If you want to add specific margins, you can also create utility classes for that */
  .select-value-margin {
    margin-left: 1rem; /* Example: adjust the left margin */
    /* Add margin-top, margin-right, and margin-bottom if needed */
  }

  /* YRS: PLACEHOLDER STYLING */

    /* Placeholder Styles */
    .placeholder-custom::placeholder { /* Target the placeholder */
      color: #9CA3AF; /* YRS: aanpassen van placeholder kleur werkt niet, de font size lukt wel! */ 
      font-size: .75rem; /* Default size, adjust as needed */
    }
    
    .placeholder-custom:focus::placeholder { /* Change placeholder on focus */
      color: #6B7280; /* Darker gray when the input is focused */
    }


  /* YRS: FORM FIELD STYLING voor ruimte te creeren tussen elk form component */
  .form-field {
    margin-bottom: 15px; /* Adjust as needed */
    margin-top: 15px; /* Adjust as needed */
  }
  /* YRS: BUTTON STYLING */
  .form-button {
    padding: 10px 20px; /* Adjust dimensions as needed */
    border-radius: 5px; /* Adjust rounding as needed */
    background: linear-gradient(to right, #FFD700, #FFA500); /* Adjust gradient colors as needed */
    box-shadow: 0 0 10px rgba(255, 165, 0, 0.5); /* Adjust glow color and intensity as needed */
    color: #015257; /* Adjust text color as needed */
    font-weight: bold; /* Adjust font weight as needed */
  }
  .form-button span {
    color: #FFFFFF; /* Adjust text color inside the button as needed */
  }

  /* YRS: De special-button styling wordt gebruikt voor de "Verzenden" button aan het einde van de form  */
  .special-button {
    background: #015257; /* Replace with the color you want */
    box-shadow: 0 0 10px rgba(#FFFFFF, 0.5); /* Replace newColor with the color you want */
    border-radius: 50px; /* Adjust rounding as needed */
    margin-bottom: 50px; /* Adjust as needed */
    margin-top: 10px; /* Adjust as needed */
    height: 4rem; /* Adjust as needed */
    color: #FFFFFF; /* Replace with the color you want */
    font-weight: bold; /* Adjust as needed */
    font-size: 20px; /* Adjust as needed */
    position: relative; /* Adjust as needed */
  }

  .special-button span {
    color: #FFFFFF; /* Replace with the color you want */
    font-weight: bold; /* Adjust as needed */
    }

/* YRS: Logo styling inside button voor Protium logo aan rechterzijde van de "Verzenden" tekst */
.logo-inside-special-button-right {
  height: 60%; /* Adjust as needed */
  width: auto; /* Keeps the aspect ratio */
  position: absolute;
  right: 20px; /* Adjust as needed */
  top: 50%;
  transform: translateY(-50%); /* Centers the logo vertically */
}

/* YRS: Logo styling inside button voor Protium logo aan linkerzijde van de "Verzenden" tekst */
.logo-inside-special-button-left {
  height: 60%; /* Adjust as needed */
  width: auto; /* Keeps the aspect ratio */
  position: absolute;
  left: 20px; /* Adjust as needed */
  top: 50%;
  transform: translateY(-50%); /* Centers the logo vertically */
}
